In [22]:
import pandas as pd

In [24]:
cats = pd.read_csv("occupations_categorized2.csv")
occdat = pd.read_csv("ACSDT5Y2018.C24010_data_with_overlays_2020-07-22T171843.csv")

In [25]:
cats

,GEO_ID,id,Categorization
0,NAME,Geographic Area Name,NaN
1,C24010_001E,Estimate!!Total,NaN
2,C24010_001M,Margin of Error!!Total,NaN
3,C24010_002E,Estimate!!Total!!Male,NaN
4,C24010_002M,Margin of Error!!Total!!Male,NaN
...,...,...,...
142,C24010_071M,"Margin of Error!!Total!!Female!!Production, tr...",NaN
143,C24010_072E,"Estimate!!Total!!Female!!Production, transport...",NaN
144,C24010_072M,"Margin of Error!!Total!!Female!!Production, tr...",NaN
145,C24010_073E,"Estimate!!Total!!Female!!Production, transport...",NaN
146,C24010_073M,"Margin of Error!!Total!!Female!!Production, tr...",NaN

In [26]:
cats = cats[1:][:]
cats_index = cats.set_index('GEO_ID', inplace=False)
cats_index.fillna(value="NaN")

varlist = list(occdat.columns.values)
varlist = varlist[2:148]


list(cats.columns.values)
occdat=occdat.append(pd.Series(), ignore_index=True)

C:\Users\ahusain\.conda\envs\mapper\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  # Remove the CWD from sys.path while we load stuff.

In [27]:
cats_index

                                                            id Categorization
GEO_ID
C24010_001E                                    Estimate!!Total            NaN
C24010_001M                             Margin of Error!!Total            NaN
C24010_002E                              Estimate!!Total!!Male            NaN
C24010_002M                       Margin of Error!!Total!!Male            NaN
C24010_003E  Estimate!!Total!!Male!!Management, business, s...       WC-TOTAL
...                                                        ...            ...
C24010_071M  Margin of Error!!Total!!Female!!Production, tr...            NaN
C24010_072E  Estimate!!Total!!Female!!Production, transport...            NaN
C24010_072M  Margin of Error!!Total!!Female!!Production, tr...            NaN
C24010_073E  Estimate!!Total!!Female!!Production, transport...            NaN
C24010_073M  Margin of Error!!Total!!Female!!Production, tr...            NaN

[146 rows x 2 columns]

In [28]:
occdat.shape

(557, 148)

In [29]:
#add to row 556
white_collar = list()
blue_collar = list()
for var in range(2,148):
    ctg = cats.iloc[var-2,2]
    occdat.loc[556][var] = ctg
    if ctg == "WC-TOTAL":
        white_collar.append(var)
    elif ctg == "S-TOTAL":
        blue_collar.append(var)
    elif ctg == "BC-TOTAL":
        blue_collar.append(var)
    
occdat

,GEO_ID,NAME,C24010_001E,C24010_001M,C24010_002E,C24010_002M,C24010_003E,C24010_003M,C24010_004E,C24010_004M,...,C24010_069E,C24010_069M,C24010_070E,C24010_070M,C24010_071E,C24010_071M,C24010_072E,C24010_072M,C24010_073E,C24010_073M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Male,Margin of Error!!Total!!Male,"Estimate!!Total!!Male!!Management, business, s...","Margin of Error!!Total!!Male!!Management, busi...","Estimate!!Total!!Male!!Management, business, s...","Margin of Error!!Total!!Male!!Management, busi...",...,"Estimate!!Total!!Female!!Natural resources, co...",Margin of Error!!Total!!Female!!Natural resour...,"Estimate!!Total!!Female!!Production, transport...","Margin of Error!!Total!!Female!!Production, tr...","Estimate!!Total!!Female!!Production, transport...","Margin of Error!!Total!!Female!!Production, tr...","Estimate!!Total!!Female!!Production, transport...","Margin of Error!!Total!!Female!!Production, tr...","Estimate!!Total!!Female!!Production, transport...","Margin of Error!!Total!!Female!!Production, tr..."
1,1500000US371190030073,"Block Group 3, Census Tract 30.07, Mecklenburg...",703,221,470,134,264,109,106,59,...,0,12,0,12,0,12,0,12,0,12
2,1500000US371190030074,"Block Group 4, Census Tract 30.07, Mecklenburg...",685,183,334,105,198,69,119,56,...,0,12,0,12,0,12,0,12,0,12
3,1500000US371190030075,"Block Group 5, Census Tract 30.07, Mecklenburg...",385,107,211,66,164,59,144,62,...,0,12,19,31,0,12,19,31,0,12
4,1500000US371190030071,"Block Group 1, Census Tract 30.07, Mecklenburg...",335,137,201,81,104,52,104,52,...,0,12,0,12,0,12,0,12,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,1500000US371190058261,"Block Group 1, Census Tract 58.26, Mecklenburg...",424,130,205,67,39,25,16,18,...,0,12,15,20,15,20,0,12,0,12
553,1500000US371190058281,"Block Group 1, Census Tract 58.28, Mecklenburg...",1116,157,624,110,314,81,193,66,...,0,12,11,18,0,12,11,18,0,12
554,1500000US371190058291,"Block Group 1, Census Tract 58.29, Mecklenburg...",588,197,239,127,93,67,58,56,...,0,12,68,65,56,62,0,12,12,19
555,1500000US371190030153,"Block Group 3, Census Tract 30.15, Mecklenburg...",475,125,227,70,143,58,76,46,...,0,12,0,12,0,12,0,12,0,12
556,NaN,NaN,NaN,NaN,NaN,NaN,WC-TOTAL,NaN,WC,NaN,...,NaN,NaN,BC-TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#add all WC-Total and BC-Total and S-Total into one TOTAL column

occdat.insert(loc=len(occdat.columns),column="total",value=-1)
occdat.insert(loc=len(occdat.columns),column="wc-total",value=-1)
occdat.insert(loc=len(occdat.columns),column="bc-total",value=-1)

In [31]:
occdat

,GEO_ID,NAME,C24010_001E,C24010_001M,C24010_002E,C24010_002M,C24010_003E,C24010_003M,C24010_004E,C24010_004M,...,C24010_070M,C24010_071E,C24010_071M,C24010_072E,C24010_072M,C24010_073E,C24010_073M,total,wc-total,bc-total
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Male,Margin of Error!!Total!!Male,"Estimate!!Total!!Male!!Management, business, s...","Margin of Error!!Total!!Male!!Management, busi...","Estimate!!Total!!Male!!Management, business, s...","Margin of Error!!Total!!Male!!Management, busi...",...,"Margin of Error!!Total!!Female!!Production, tr...","Estimate!!Total!!Female!!Production, transport...","Margin of Error!!Total!!Female!!Production, tr...","Estimate!!Total!!Female!!Production, transport...","Margin of Error!!Total!!Female!!Production, tr...","Estimate!!Total!!Female!!Production, transport...","Margin of Error!!Total!!Female!!Production, tr...",-1,-1,-1
1,1500000US371190030073,"Block Group 3, Census Tract 30.07, Mecklenburg...",703,221,470,134,264,109,106,59,...,12,0,12,0,12,0,12,-1,-1,-1
2,1500000US371190030074,"Block Group 4, Census Tract 30.07, Mecklenburg...",685,183,334,105,198,69,119,56,...,12,0,12,0,12,0,12,-1,-1,-1
3,1500000US371190030075,"Block Group 5, Census Tract 30.07, Mecklenburg...",385,107,211,66,164,59,144,62,...,31,0,12,19,31,0,12,-1,-1,-1
4,1500000US371190030071,"Block Group 1, Census Tract 30.07, Mecklenburg...",335,137,201,81,104,52,104,52,...,12,0,12,0,12,0,12,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,1500000US371190058261,"Block Group 1, Census Tract 58.26, Mecklenburg...",424,130,205,67,39,25,16,18,...,20,15,20,0,12,0,12,-1,-1,-1
553,1500000US371190058281,"Block Group 1, Census Tract 58.28, Mecklenburg...",1116,157,624,110,314,81,193,66,...,18,0,12,11,18,0,12,-1,-1,-1
554,1500000US371190058291,"Block Group 1, Census Tract 58.29, Mecklenburg...",588,197,239,127,93,67,58,56,...,65,56,62,0,12,12,19,-1,-1,-1
555,1500000US371190030153,"Block Group 3, Census Tract 30.15, Mecklenburg...",475,125,227,70,143,58,76,46,...,12,0,12,0,12,0,12,-1,-1,-1
556,NaN,NaN,NaN,NaN,NaN,NaN,WC-TOTAL,NaN,WC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,-1,-1

In [32]:
occdat = occdat.iloc[0:556,:]

In [33]:
occdat

,GEO_ID,NAME,C24010_001E,C24010_001M,C24010_002E,C24010_002M,C24010_003E,C24010_003M,C24010_004E,C24010_004M,...,C24010_070M,C24010_071E,C24010_071M,C24010_072E,C24010_072M,C24010_073E,C24010_073M,total,wc-total,bc-total
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Male,Margin of Error!!Total!!Male,"Estimate!!Total!!Male!!Management, business, s...","Margin of Error!!Total!!Male!!Management, busi...","Estimate!!Total!!Male!!Management, business, s...","Margin of Error!!Total!!Male!!Management, busi...",...,"Margin of Error!!Total!!Female!!Production, tr...","Estimate!!Total!!Female!!Production, transport...","Margin of Error!!Total!!Female!!Production, tr...","Estimate!!Total!!Female!!Production, transport...","Margin of Error!!Total!!Female!!Production, tr...","Estimate!!Total!!Female!!Production, transport...","Margin of Error!!Total!!Female!!Production, tr...",-1,-1,-1
1,1500000US371190030073,"Block Group 3, Census Tract 30.07, Mecklenburg...",703,221,470,134,264,109,106,59,...,12,0,12,0,12,0,12,-1,-1,-1
2,1500000US371190030074,"Block Group 4, Census Tract 30.07, Mecklenburg...",685,183,334,105,198,69,119,56,...,12,0,12,0,12,0,12,-1,-1,-1
3,1500000US371190030075,"Block Group 5, Census Tract 30.07, Mecklenburg...",385,107,211,66,164,59,144,62,...,31,0,12,19,31,0,12,-1,-1,-1
4,1500000US371190030071,"Block Group 1, Census Tract 30.07, Mecklenburg...",335,137,201,81,104,52,104,52,...,12,0,12,0,12,0,12,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,1500000US371190058241,"Block Group 1, Census Tract 58.24, Mecklenburg...",2151,242,1182,171,292,73,163,66,...,45,26,27,0,12,24,29,-1,-1,-1
552,1500000US371190058261,"Block Group 1, Census Tract 58.26, Mecklenburg...",424,130,205,67,39,25,16,18,...,20,15,20,0,12,0,12,-1,-1,-1
553,1500000US371190058281,"Block Group 1, Census Tract 58.28, Mecklenburg...",1116,157,624,110,314,81,193,66,...,18,0,12,11,18,0,12,-1,-1,-1
554,1500000US371190058291,"Block Group 1, Census Tract 58.29, Mecklenburg...",588,197,239,127,93,67,58,56,...,65,56,62,0,12,12,19,-1,-1,-1
555,1500000US371190030153,"Block Group 3, Census Tract 30.15, Mecklenburg...",475,125,227,70,143,58,76,46,...,12,0,12,0,12,0,12,-1,-1,-1

In [34]:
white_collar

[6, 54, 78, 126]

In [39]:
blue_collar

[38, 60, 68, 110, 132, 140]

In [40]:
cols = occdat.columns.drop(['GEO_ID', 'NAME'])
occdat[cols] = occdat[cols].apply(pd.to_numeric, errors='coerce')
occdat

C:\Users\ahusain\.conda\envs\mapper\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,GEO_ID,NAME,C24010_001E,C24010_001M,C24010_002E,C24010_002M,C24010_003E,C24010_003M,C24010_004E,C24010_004M,...,C24010_070M,C24010_071E,C24010_071M,C24010_072E,C24010_072M,C24010_073E,C24010_073M,total,wc-total,bc-total
0,id,Geographic Area Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,-1
1,1500000US371190030073,"Block Group 3, Census Tract 30.07, Mecklenburg...",703.0,221.0,470.0,134.0,264.0,109.0,106.0,59.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,-1,679.0,-1
2,1500000US371190030074,"Block Group 4, Census Tract 30.07, Mecklenburg...",685.0,183.0,334.0,105.0,198.0,69.0,119.0,56.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,-1,648.0,-1
3,1500000US371190030075,"Block Group 5, Census Tract 30.07, Mecklenburg...",385.0,107.0,211.0,66.0,164.0,59.0,144.0,62.0,...,31.0,0.0,12.0,19.0,31.0,0.0,12.0,-1,340.0,-1
4,1500000US371190030071,"Block Group 1, Census Tract 30.07, Mecklenburg...",335.0,137.0,201.0,81.0,104.0,52.0,104.0,52.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,-1,322.0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,1500000US371190058241,"Block Group 1, Census Tract 58.24, Mecklenburg...",2151.0,242.0,1182.0,171.0,292.0,73.0,163.0,66.0,...,45.0,26.0,27.0,0.0,12.0,24.0,29.0,-1,1061.0,-1
552,1500000US371190058261,"Block Group 1, Census Tract 58.26, Mecklenburg...",424.0,130.0,205.0,67.0,39.0,25.0,16.0,18.0,...,20.0,15.0,20.0,0.0,12.0,0.0,12.0,-1,264.0,-1
553,1500000US371190058281,"Block Group 1, Census Tract 58.28, Mecklenburg...",1116.0,157.0,624.0,110.0,314.0,81.0,193.0,66.0,...,18.0,0.0,12.0,11.0,18.0,0.0,12.0,-1,890.0,-1
554,1500000US371190058291,"Block Group 1, Census Tract 58.29, Mecklenburg...",588.0,197.0,239.0,127.0,93.0,67.0,58.0,56.0,...,65.0,56.0,62.0,0.0,12.0,12.0,19.0,-1,370.0,-1
555,1500000US371190030153,"Block Group 3, Census Tract 30.15, Mecklenburg...",475.0,125.0,227.0,70.0,143.0,58.0,76.0,46.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,-1,376.0,-1

In [41]:
occdat["wc-total"] = occdat.iloc[:,6] + occdat.iloc[:,54] + occdat.iloc[:,78] + occdat.iloc[:,126]

C:\Users\ahusain\.conda\envs\mapper\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
occdat["bc-total"] = occdat.iloc[:,blue_collar[0]] + occdat.iloc[:,blue_collar[1]] + occdat.iloc[:,blue_collar[2]] + occdat.iloc[:,blue_collar[3]] + occdat.iloc[:,blue_collar[4]] + occdat.iloc[:,blue_collar[5]]

C:\Users\ahusain\.conda\envs\mapper\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
occdat["total"] = occdat["bc-total"] + occdat["wc-total"]

C:\Users\ahusain\.conda\envs\mapper\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
occdat["bc-total"] = occdat["bc-total"]/occdat["total"]

occdat["wc-total"] = occdat["wc-total"]/occdat["total"]

C:\Users\ahusain\.conda\envs\mapper\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\ahusain\.conda\envs\mapper\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [52]:
occdat

,GEO_ID,NAME,C24010_001E,C24010_001M,C24010_002E,C24010_002M,C24010_003E,C24010_003M,C24010_004E,C24010_004M,...,C24010_070M,C24010_071E,C24010_071M,C24010_072E,C24010_072M,C24010_073E,C24010_073M,total,wc-total,bc-total
0,id,Geographic Area Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1500000US371190030073,"Block Group 3, Census Tract 30.07, Mecklenburg...",703.0,221.0,470.0,134.0,264.0,109.0,106.0,59.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,703.0,0.965861,0.034139
2,1500000US371190030074,"Block Group 4, Census Tract 30.07, Mecklenburg...",685.0,183.0,334.0,105.0,198.0,69.0,119.0,56.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,685.0,0.945985,0.054015
3,1500000US371190030075,"Block Group 5, Census Tract 30.07, Mecklenburg...",385.0,107.0,211.0,66.0,164.0,59.0,144.0,62.0,...,31.0,0.0,12.0,19.0,31.0,0.0,12.0,385.0,0.883117,0.116883
4,1500000US371190030071,"Block Group 1, Census Tract 30.07, Mecklenburg...",335.0,137.0,201.0,81.0,104.0,52.0,104.0,52.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,335.0,0.961194,0.038806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,1500000US371190058241,"Block Group 1, Census Tract 58.24, Mecklenburg...",2151.0,242.0,1182.0,171.0,292.0,73.0,163.0,66.0,...,45.0,26.0,27.0,0.0,12.0,24.0,29.0,2151.0,0.493259,0.506741
552,1500000US371190058261,"Block Group 1, Census Tract 58.26, Mecklenburg...",424.0,130.0,205.0,67.0,39.0,25.0,16.0,18.0,...,20.0,15.0,20.0,0.0,12.0,0.0,12.0,424.0,0.622642,0.377358
553,1500000US371190058281,"Block Group 1, Census Tract 58.28, Mecklenburg...",1116.0,157.0,624.0,110.0,314.0,81.0,193.0,66.0,...,18.0,0.0,12.0,11.0,18.0,0.0,12.0,1116.0,0.797491,0.202509
554,1500000US371190058291,"Block Group 1, Census Tract 58.29, Mecklenburg...",588.0,197.0,239.0,127.0,93.0,67.0,58.0,56.0,...,65.0,56.0,62.0,0.0,12.0,12.0,19.0,588.0,0.629252,0.370748
555,1500000US371190030153,"Block Group 3, Census Tract 30.15, Mecklenburg...",475.0,125.0,227.0,70.0,143.0,58.0,76.0,46.0,...,12.0,0.0,12.0,0.0,12.0,0.0,12.0,475.0,0.791579,0.208421

In [64]:
to_export = occdat[["GEO_ID", "wc-total", "bc-total"]]
to_export = to_export.iloc[1:,:]

In [65]:
to_export

                    GEO_ID  wc-total  bc-total
1    1500000US371190030073  0.965861  0.034139
2    1500000US371190030074  0.945985  0.054015
3    1500000US371190030075  0.883117  0.116883
4    1500000US371190030071  0.961194  0.038806
5    1500000US371190038023  0.408163  0.591837
..                     ...       ...       ...
551  1500000US371190058241  0.493259  0.506741
552  1500000US371190058261  0.622642  0.377358
553  1500000US371190058281  0.797491  0.202509
554  1500000US371190058291  0.629252  0.370748
555  1500000US371190030153  0.791579  0.208421

[555 rows x 3 columns]

In [67]:
to_export.to_csv('occupations_processed_final.csv', index=False)